<%= form_for(@guest) do |f| %>

<% if @guest.errors.any? %>
<div id="error_explanation">
  <ul>
    <% @guest.errors.full_messages.each do |msg| %>
    <li>- <%= msg %></li>
    <% end %>
  </ul>
</div>
<% end %>

<%= f.hidden_field :user_id %>
<div class="field">
  <%= f.label "Login ID *" %>
  <%= f.text_field :login_id %>
</div>
<div class="field">
  <%= f.label "Login password *" %>
  <%= f.password_field :login_password %>
</div>
<div class="field">
  <%= f.label :memo %>
  <%= f.text_field :memo %>
</div>

<input type="submit" class="btn" id="submit_button" value="Submit"></input>
<script type="text/javascript">
    $("#submit_button").bind("click", function() {
        $("form").submit();
    })
</script>

<% end %>
