<% content_for :head do %>
<%= stylesheet_link_tag "guests", :media=>"all" %>
<% end %>

<div id="content-header">
  <h2><%= current_user.name %>'s guests</h2>
  <div>
    <a href="<%= new_guest_url %>" class="add"><%= image_tag "/assets/common/add.png" %><span>New guest</span></a>
  </div>
</div>

<% if @guests.empty? %>
<!-- <span class="label" id="nowork">No work</span> -->
<h2 id="noguest">Empty</h2>
<% end %>


<ul id="guests">
  <li><span class="index first">ID / PW</li>
  <% c = 0; @guests.each do |guest| %>
  <li><span class="index"><%= c += 1 %></span><%= guest.login_id %> / <%= guest.login_password %><%= link_to "Delete", guest, :method=>:delete, :data=>{:confirm=>"Are you sure?"} %></li>
  <% end %>
</ul>
