<%= render :partial => "sessions/header" if current_user %>
<% content_for :head do %>
<%= stylesheet_link_tag "guests", :media=>"all" %>
<%= stylesheet_link_tag "header", :media=>"all" %>
<% end %>

<div id="container">
  <h2>Guests</h2>

  <ul>
    <% c = 0; @guests.each do |guest| %>
    <li><%= (c += 1) %>. <%= guest.login_id %></li>
    <% end %>
  </ul>

  <br />

  <%= link_to "New guest", new_guest_path %>
  
</div>
