<div class="row">
  <div class="span12">
    <div class="span4">
      <h2><%= work.name %></h2>
      <% if work.url %>
      <a href="<%= work.url %>" class="small"><%= work.parsed_url %></a><%= work.url_article %>
      <% end %>

      <% if 0 < work.client.length %>
      <h5>Client:</h5>
      <p>- <%= work.client %></p>
      <% end %>

      <% if 0 < work.role.length %>
      <h5>Role:</h5>
      <% work.role.split(',').each do |r| %>
      <p>- <%= r %></p>
      <% end %>
      <% end %>
      
      <p class="description">-</p>
      <p><%= work.description %></p>
    </div>
    
    <div class="span7">
      <div id="carousel" class="carousel slide">
        <ol class="carousel-indicators">
          <% if work.image_0.file? %>
          <li data-target="#carousel" data-slide-to="0" class="active"></li>
          <% end %>
          <% if work.image_1.file? %>
          <li data-target="#carousel" data-slide-to="0"></li>
          <% end %>
          <% if work.image_2.file? %>
          <li data-target="#carousel" data-slide-to="0"></li>
          <% end %>
          <% if work.image_3.file? %>
          <li data-target="#carousel" data-slide-to="0"></li>
          <% end %>
          <% if work.image_4.file? %>
          <li data-target="#carousel" data-slide-to="0"></li>
          <% end %>
        </ol>
        <div class="carousel-inner">
          
          <% if work.image_0.file? %><div class="item active">
            <%= image_tag work.image_0.url(:large), :class=>"image" %>
            <%= image_tag "/assets/common/blank.png", :width=>"640", :height=>"480", :class=>"blank" %>
          </div><% end %>

          <% if work.image_1.file? %><div class="item">
            <%= image_tag work.image_1.url(:large), :class=>"image" %>
            <%= image_tag "/assets/common/blank.png", :width=>"640", :height=>"480", :class=>"blank" %>
          </div><% end %>

          <% if work.image_2.file? %><div class="item">
            <%= image_tag work.image_2.url(:large), :class=>"image" %>
            <%= image_tag "/assets/common/blank.png", :width=>"640", :height=>"480", :class=>"blank" %>
          </div><% end %>

          <% if work.image_3.file? %><div class="item">
            <%= image_tag work.image_3.url(:large), :class=>"image" %>
            <%= image_tag "/assets/common/blank.png", :width=>"640", :height=>"480", :class=>"blank" %>
          </div><% end %>

          <% if work.image_4.file? %><div class="item">
            <%= image_tag work.image_4.url(:large), :class=>"image" %>
            <%= image_tag "/assets/common/blank.png", :width=>"640", :height=>"480", :class=>"blank" %>
          </div><% end %>
        </div>
        <!-- Carousel nav -->
        <% if work.image_1.file? %>
        <a class="carousel-control left" href="#carousel" data-slide="prev">&lsaquo;</a>
        <a class="carousel-control right" href="#carousel" data-slide="next">&rsaquo;</a>
        <% end %>
      </div>
      
    </div>


    
  </div>
</div>

<div class="links">
  <%= link_to 'Back', (current_user ? works_path : user_path(current_guest.user_id)), :class=>"back" %>
  <% if current_user %>
  | <%= link_to 'Edit', edit_work_path(work) %>
  | <%= link_to 'Delete', work,  :method=>:delete, :data=>{:confirm=>"Are you sure?"} %>
  <% end %>    
</div>

