<%= form_for(@work) do |f| %>
  <% if @work.errors.any? %>
    <div id="error_explanation">
      <ul>
        <% @work.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
    <% end %>

    <%= f.hidden_field :user_id %>
    <div class="row-fluid">
      <div class="span12">
        
        <div class="span5">
          <div class="field">
            <%= f.label "名前" %>
            <%= f.text_field :name %>
          </div>
          <div class="field">
            <%= f.label 'クライアント' %>
            <%= f.text_field :client %>
          </div>
          <div class="field">
            <%= f.label '年' %>
            <%= years = [];
                now = Time.now.year
                for y in (now - 10)..now
                years << y
                         end;
                         f.select :year, years, :selected=>@work.year %>
                </div>
          <div class="field">
            <%= f.label "担当 (カンマ区切りで複数指定可)" %>
            <%= f.text_field :role %>
          </div>
          <div class="field">
            <%= f.label '個人制作の場合はチェック' %>
            <%= f.check_box :personal_work %>
          </div>
          <div class="field">
            <%= f.label 'URL' %>
            <%= f.text_field :url %>
          </div>
        </div>
        
        <div class="span7">
          <%= f.label '画像 (640×480 以上を推奨)' %>
          <div class="field" id="image_selector">
            <% if @work.id %>
            <% has_image = had_image = false %>
            
            <% if has_image = @work.image_0.exists? %>
            <h3>1</h3>
            <div class="top">            
            <%= image_tag @work.image_0(:small), :class=>'thumbnail' %>
            <%= f.file_field :image_0, :class=>"has_image" %>
            </div>
            <span class="clearfix"></span>
            <% had_image = has_image; end %>
            
            <% if has_image = @work.image_1.exists? %>
            <h3>2</h3>
            <div>            
            <%= image_tag @work.image_1(:small), :class=>'thumbnail' %>
            <%= f.file_field :image_1, :class=>"has_image" %>
            </div>
            <span class="clearfix"></span>
            <% elsif had_image %>
            <div class="cloneable"><h3>2</h3><%= f.file_field :image_1 %></div>
            <% had_image = has_image; end %>

            <% if has_image = @work.image_2.exists? %>
            <h3>3</h3>
            <div>            
            <%= image_tag @work.image_2(:small), :class=>'thumbnail' %>
            <%= f.file_field :image_2, :class=>"has_image" %>
            </div>
            <span class="clearfix"></span>
            <% elsif had_image %>
            <div class="cloneable"><h3>3</h3><%= f.file_field :image_2 %></div>
            <% had_image = has_image; end %>

            <% if has_image = @work.image_3.exists? %>
            <h3>4</h3>
            <div>
            <%= image_tag @work.image_3(:small), :class=>'thumbnail' %>
            <%= f.file_field :image_3, :class=>"has_image" %>
            </div>
            <span class="clearfix"></span>
            <% elsif had_image %>
            <div class="cloneable"><h3>4</h3><%= f.file_field :image_3 %></div>
            <% had_image = has_image; end %>

            <% if has_image = @work.image_4.exists? %>
            <h3>5</h3>
            <div>            
            <%= image_tag @work.image_4(:small), :class=>'thumbnail' %>
            <%= f.file_field :image_4, :class=>"has_image" %>
            </div>
            <span class="clearfix"></span>
            <% elsif had_image %>
            <div class="cloneable"><h3>5</h3><%= f.file_field :image_4 %></div>
            <% had_image = has_image; end %>


            <% else %>
            <div class="cloneable">
              <h3>1</h3>
              <%= f.file_field :image_0 %>
            </div>
            <% end %>
            
          </div>
          <div class="field">
            <%= f.label '説明' %>
            <%= f.text_area :description, :size=>"50x10" %>
          </div>  
        
          <input class="btn" id="submit_button" value="Submit" type="submit"></input>      
        </div>
        
      </div>

  <%= javascript_include_tag "form" %>
<% end %>
