<% content_for :title do %>
<%= "Portfolio" %>
<%  end %>

<% content_for :head do %>
<%= stylesheet_link_tag "works", :media=>"all" %>
<%= stylesheet_link_tag "bootstrap-modal", :media=>"all" %>
<%= javascript_include_tag "bootstrap-modal" %>
<%= javascript_include_tag "bootstrap-modalmanager" %>
<script type="text/javascript">
    $(function() {
        var list = $(".nav > li");
        var selected = null;
        var loginID = $("#login_id > span");
        var loginPw = $("#login_password > span");

        list.bind("click", function(e) {
            $("#tellinfo").css("display", "block");
            if (selected) selected.removeClass("active");
            selected = $(this);
            selected.addClass("active");
            var ipass = selected.text();
            var match = /(.*?)\s\/\s(.*?)\s/.exec(ipass);
            loginID.text(match[1]);
            loginPw.text(match[2]);

            e.preventDefault();
            return false;
        })
    })
</script>
<% end %>

<% if current_user %>
<% content_for :before_container do %>
<!-- Modal -->
<div id="guest_chooser" class="modal hide" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">ゲストを選んでください</h3>
  </div>
  <div class="modal-body">
    <ul class="nav nav-pills nav-stacked">
      <% guests = current_user.guests; guests.each do |g| %>
      <li class=""><a href="#"><%= g.login_id %> / <%= g.login_password %> <span class="memo"><%= g.memo %></span></a></li>
      <% end %>
      <% if guests.empty? %>
      <a href="<%= new_guest_path %>">> Guestを登録してください</a>
      <% end %>
    </ul>
    <div id="tellinfo">
      <p>ポートフォリオのURL</p>
      <p id="works_page"><%= user_url(current_user) %></p>
      <p id="login_id">ID : <span class="value"></span></p>
      <p id="login_password">Password : <span class="value"></span></p>
    </div>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">閉じる</button>
  </div>
</div>
<% end %>
<% end %>

<% if current_user %>
<div id="content-header">
  <h2><%= current_user.name %>'s works</h2>
  <div class="right">
    <a href="<%= new_work_url %>" class="add"><%= image_tag "/assets/common/add.png" %><span>New work</span></a>
  </div>
  <a href="#guest_chooser" role="button" data-toggle="modal"><div class="btn btn-small">このページをゲストに教える</div></a>
</div>
<% end %>

<% if @years.empty? %>
<!-- <span class="label" id="nowork">No work</span> -->
<h2 id="nowork">0 Works</h2>
<% end %>

<div>
  <!-- each years -->
  <% for works in @years %>
  <h2><%= works[0].year %></h2>
  
  <ul class="thumbnails">
    <!-- each works in the year-->
    <% for work in works %>
    <li class="span4">
      <div class="thumbnail">
        <div class="image">
          <a href="<%= '/works/' + work.id.to_s %>"><%= image_tag work.image_0.url(:large) %></a>
        </div>
        <div class="caption">
          <h4><%= work.name %></h4>
          <% for type in work.role.split "," %>
          <span class="label"><%= type %></span>
          <% end %>
          <p>
            <a href="<%= '/works/' + work.id.to_s %>" class="btn btn-block">Detail</a>
          </p>
        </div>
      </div>
    </li>
    <% end %>
  </ul>

  <% end %>
</div>
