<%= render :partial => "sessions/header" if current_user %>
<% content_for :head do %>
<%= stylesheet_link_tag "works", :media=>"all" %>
<% end %>

<div id="container">


  <div class="">
    <!-- each years -->
    <% for works in @years %>
    <h2><%= works[0].year %></h2>
    
    <ul class="thumbnails">
      <!-- each works in the year-->
      <% for work in works %>
      <li class="span4">
        <div class="thumbnail">
          <a href="<%= '/works/' + work.id.to_s %>"><%= image_tag work.image_0.url(:thumb) %></a>
          <div class="caption">
            <h4><%= work.name %></h4>
            <% for type in work.role.split "," %>
            <span class="label"><%= type %></span>
            <% end %>
            <p>
              <a data-toggle="lightbox" href="<%= '/works/' + work.id.to_s %>" class="btn btn-info btn-block">Detail</a>
            </p>
          </div>
        </div>
      </li>
      <% end %>
    </ul>
    
    <% end %>
  </div>

  <% if current_user %>
  <%= link_to "New work", new_work_path %>
  <%= link_to "Manage guests", guests_path %>
  <% end %>
</div>
