<%= render :partial => "sessions/header" if current_user%>
<p id="notice"><%= notice %></p>

<%= render :partial => "works/detail", :locals => { :work => @work } %>

<%= link_to 'Edit', edit_work_path(@work) %> |
<%= link_to 'Back', :back %>
