<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @work.name %>
</p>

<p>
  <b>Client:</b>
  <%= @work.client %>
</p>

<p>
  <b>Year:</b>
  <%= @work.year %>
</p>

<p>
  <b>Role:</b>
  <%= @work.role %>
</p>

<p>
  <b>Description:</b>
  <%= @work.description %>
</p>

<p>
  <b>Private work:</b>
  <%= @work.private_work %>
</p>

<p>
  <b>Url:</b>
  <%= @work.url %>
</p>

<%= render :partial=>'guest/index', :locals => {:guests => Guest.find_all_by_work_id(@work.id) || []} %>
<p>Add a guest</p>
<%= render 'guest/form' %>


<%= link_to 'Edit', edit_work_path(@work) %> |
<%= link_to 'Back', works_path %>
