<% content_for :head do %>
<%= stylesheet_link_tag "sessions" %>
<% end %>
<style type="text/css">
  

</style>


<% if defined? @has_error %>
<div class="alert alert-error">
  <% for e in @errors %>
  <strong>-</strong> <%= e %><br />
  <% end %>
</div>
<% end %>

<%= form_tag("#{user_path(@user_id)}/guest_authentication", {:class=>"form-signin"}) do |f| %>
<h2 class="form-signin-heading">Please sign in</h2>
<%= hidden_field_tag "user_id", @user_id %>
<%= text_field_tag "guest_id", "", :placeholder => "ID", :class=>"input-block-level" %>
<%= password_field nil, :password, :placeholder => "Password", :class=>"input-block-level" %>
<%= button_tag "Sign in", :class=>"btn btn-large btn-block" %>
<% end %>

