<!DOCTYPE html>
<html>
<head>
  <title>Hatarakiari</title>
  <%= stylesheet_link_tag    "bootstrap.min", :media => "all" %>
  <%= stylesheet_link_tag    "bootstrap-responsive.min.css", :media => "all" %>
  <%= stylesheet_link_tag    "application", :media => "all" %>  

  <%= yield :head %>
  
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
