<!DOCTYPE html>
<html>
<head>
  <title><%= yield :title %></title>  
  <%= render :partial=>"shared/meta" %>
  <%= favicon_link_tag 'favicon.ico' %>  
  <%= stylesheet_link_tag    "bootstrap.min", :media => "all" %>
  <%= stylesheet_link_tag    "bootstrap-responsive.min.css", :media => "all" %>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  
  <%= yield :head %>
  
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <%= render :partial=>"shared/ga" %>
</head>

<body>

  <%= yield :before_container %>
  
  <div id="container">
    <%= yield %>
    <%= render :partial=>"shared/footer", :locals=>{:should_render_social_buttons=>false} %>
  </div>

</body>
</html>
